 .HomeCss{
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

header{
    background:url("../../img/image.PNG") center no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    text-align: left;
    height:auto;
    overflow: hidden;
    padding: 33px 0px;
}
